*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* margin-right: 10rem;
    margin-left: 10rem; */
    margin-top: 1rem;
    background-color: #F2C6BD;
}
#uni-padding{
    padding: 0 7%;
}

html{
    font-size: 62.5%;
    /* 1rem = 10px */
}
/*====== Color codes  ========== */
:root{
 --dark-pink: #E8505B;
 --Background-color: #F2C6BD;
 --text-color: #424242;
 --card-color: #F6B9BD ;
 --hover-dark-pink: #e7303c;
}
 /*=======================  */


/* =====logo and illustration banner====== */
.logo{
    width: 13rem;
    cursor: pointer;
}
/* ========== Header Navbars ====================== */
header{
    /* background-color: rgb(63, 136, 205); */
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.navbar-list{
    display: flex;
    gap: 4.8rem;
    list-style: none;
}
.navbar-links:link,
.navbar-links:visited{
    display: inline-block;
    /* text-transform: uppercase; */
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 500;
    font-family: poppins;
    color: var(--text-color);
    transition: all 0.3s;
}
/* navbar hover effect */
.navbar-links:hover,
.navbar-links:active{
    color: rgb(33, 33, 33);
    font-weight: 500;
}




/* ==================== Navbars part ends ======================================= */

/* =============================   Main hero sections   =========================== */
main{

    width: 100%;
    /* background-color: peru; */
    height: auto;
    display: flex;
    justify-content: space-between;
}
/* ==================   left parts   ======================================== */
.left{
    width: 55%;
    /* background-color: aquamarine; */
    /* display: inline-block;
    align-items: center; */
    
}
.travel{
    font-size: 7.5rem;
    font-family: poppins;
    color: #424242;
    font-weight: 600;
    margin-top: 10rem;
    float: left;
    cursor: pointer;
}
.para{
    font-family: poppins;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 0.8rem;
    color: #424242;
    line-height: 35px;
    padding-right: 60px;
}
.texts{
    margin-left: none;
    display: grid;
    align-items: center;
    justify-content: center;
}


/* ==========================  Buttons Part Starts   ================================ */

.btns{
    margin-top: 5rem;
    margin-left: 8.5rem;
}
.btn{
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: poppins;
    margin-right: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.7rem;
    cursor: pointer;
}
#btn1{
    background-color: #E8505B;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#btn2{
    background-color: white;
    color: #E8505B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#btn1:hover{
    background-color: #e7303c;
    /* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
    transition: all 0.4s ease 0s;
    
}
#btn2:hover{
    color: #424242;
    transition: all 0.4s ease 0s;
   
}
/* ==========================  Buttons Part Ends  ================================ */

/* ==================   Right parts   ======================================== */

.right{
    width: 45%;
    /* background-color: purple; */
}
.banner{
    width: 52rem;
}
.banner{
    padding-left: 2rem;
    
}
/* ====================  Cards Starts from here ======================================== */
.card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 8rem;
   
}
.cards{
    width: 22%;
    height: auto;
    
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:var(--card-color);
    margin-bottom: 4rem;
    display: inline-block;
    display: grid;
    
}
.card-image img{
    width: 100%;
    /* height: 20%; */
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}
.card-title{
    color: var(--text-color);
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
    
    font-family: poppins;
}
.card-disc{
    margin-top: 1rem;
    text-align: center;
    
}
.des-p{
    font-size: 1.2rem;
    text-align: center;
    margin-right: 1.1rem;
    margin-left: 1.1rem;
    margin-bottom: 1rem;
    font-family: poppins;
    color: var(--text-color);
}
.card-btn{
    margin-top: auto;
   margin-bottom: 2rem;
   color: white;
   background-color: var(--dark-pink);
   /* border: 0.03rem solid var(--text-color); */
   border: none;
   padding: 0.6rem 1.2rem;
  font-size: 1.1rem;
   border-radius: 0.5rem;
   cursor: pointer;
   /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.card-btn:hover{
    background-color: var(--hover-dark-pink);
    color: white;
    transition: all 0.3s ease 0s;
    /* border: 0.03rem solid var(--text-color); */
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.seemore{
    display: flex;
    
    margin-bottom: 20rem;
    align-items: center;
    justify-content: center;
}
.see-btn{
   
    text-decoration: none;
    font-size: 1.2rem;
    
    font-family: poppins;
    margin-right: 2rem;
    padding: 1rem 5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: var(--dark-pink);
    color: white;
    
}
/* ==========================Cards Hover Settings======================== */
.cards:hover{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    
}

.see-btn:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-in-out;
    background-color: var(--hover-dark-pink);
}



/* =====================  Footer part  ===================== */
/* footer   */
.background{
   
    width: 100%;
    background-color: #373e45;
    color: white;
}
.footer-container{
    padding-bottom: 5rem;
    display: flex;
   
    justify-content: space-between;

}
.div33{
    width: 33.33%;
    padding: 2rem 2rem;
   
}
.div33 p{
    font-size: 1.5rem;
}

.div33 h3{
 /* margin-top: 3rem; */
 text-decoration: underline;
 text-underline-offset: 1rem;
 text-decoration-thickness: 0.2rem;
 font-weight: bolder;
 font-size: 2rem ;
 padding-bottom: 2rem;

}
#footer-menu{
    list-style-type: none;
  
    
}
#footer-menu li{
padding-bottom: 1.1rem;

}
#footer-menu li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
/* #footer-menu-container{
     padding-left: 100px;
} */
#copyright{
    background-color: #222f3e;
    text-align: center;
    color: #cbcbcb;
    padding: 20px;
    font-size: 1.5rem;
}
#copyright a{
    color: var(--dark-pink);
    font-size: 1.8rem ;
}

/* =============================================================================== */
/* =================== Media Query Starts from Here  =========================== */
/* ========================================================================= */
@media screen and (max-width: 1240px) {
    .logo{
        width: 11rem;
    }
    .navbar-list{
        display: flex;
        gap: 4.8rem;
        list-style: none;
    }
    .navbar-links:link,
    .navbar-links:visited{
        display: inline-block;
       
        text-decoration: none;
        font-size: 2.2rem;
        font-weight: 500;
        font-family: poppins;
        color: var(--text-color);
        transition: all 0.3s;
    }
    .left .texts h1{
        font-size: 6rem;
    }
    .banner{
        width: 45rem;
    }
    .para{
        font-family: poppins;
        font-size: 1.7rem;
        font-weight: 500;
        text-align: center;
        margin-top: 0.5rem;
        color: #424242;
        line-height: 25px;
        padding-right: 40px;
    }
    .btns{
        margin-top: 3.5rem;
        margin-left: 9rem;
    }
    .btn{
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 600;
        font-family: poppins;
        margin-right: 1.3rem;
        padding: 0.5rem 1.2rem;
        border-radius: 0.5rem;
        cursor: pointer;
    }
    /* ====================  Cards Starts from here ======================================== */
.card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 6rem;
   
}
.cards{
    width: 22%;
    height: auto;
    
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:var(--card-color);
    margin-bottom: 4rem;
    display: inline-block;
    display: grid;
    
}
.card-image img{
    width: 100%;
    /* height: 20%; */
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}
.card-title{
    color: var(--text-color);
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
    
    font-family: poppins;
}
.card-disc{
    margin-top: 1rem;
    text-align: center;
    
}
.des-p{
    font-size: 1.2rem;
    text-align: center;
    margin-right: 1.1rem;
    margin-left: 1.1rem;
    margin-bottom: 1rem;
    font-family: poppins;
    color: var(--text-color);
}
.card-btn{
    margin-top: auto;
   margin-bottom: 2rem;
   color: white;
   background-color: var(--dark-pink);
   /* border: 0.03rem solid var(--text-color); */
   border: none;
   padding: 0.6rem 1.2rem;
  font-size: 1.1rem;
   border-radius: 0.5rem;
   cursor: pointer;
   /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
/* .card-btn:hover{
    background-color: var(--hover-dark-pink);
    color: white;
    transition: all 0.3s ease 0s;
    
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
.seemore{
    display: flex;
    
    margin-bottom: 20rem;
    align-items: center;
    justify-content: center;
}
.see-btn{
   
    text-decoration: none;
    font-size: 1.2rem;
    font-family: poppins;
    margin-right: 2rem;
    padding: 1rem 5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: var(--dark-pink);
    color: white;
    
}

}